.homepage {
    background-image: url("../assets/background.jpg");
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    position: relative;
    z-index: 1;
  }
  
  .logo {
    width: 14rem;
    background-color: black;
    margin-left: 3rem;
  }
  
  .menuoption{
    position:relative;
    margin-right: 25px;
    box-shadow: 3px 2px 5px 0 grey;
  }

  .menuoption img:active {
    border-color: #00A94E;
    border:3px solid #00A94E;
    
  }
  .menuoption img{
    width:20rem;
    padding:26px;
    float:left;
    margin-left: 1rem;
    margin-right: 1rem;
   
  }

  .menuoption h2{
    position:absolute;
    margin-top: 28rem;
    color:grey;
    font-weight:bolder !important;
  }

  .menuoption h2:active {
    color: #00A94E;
   
  }

  .menu{
    display:flex;
    justify-content: center;
    margin-top: 10rem;
    
  }

  .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @media only screen and (max-width: 900px) {
    .logo {
      width: 10rem;
      height: auto;
    }
  }
  
  
  .btn-white {
    text-transform: uppercase;
    color:white;
    background-color:green;
    margin: 1rem 0;
    margin-top: -1rem;
    transition: all 500ms ease;
    width:15rem;
    height:4rem;
    border-radius: 5px;
    box-shadow: grey;
    font-size: large;
    font-weight: bold;
  }
  
  .btn-transparent {
    text-transform: uppercase;
    color:white;
    background-color:green;
    margin: 1rem 0;
    margin-top: 26rem;
    transition: all 500ms ease;
    width:15rem;
    height:4rem;
    border-radius: 5px;
    box-shadow: grey;
    font-size: large;
    font-weight: bold;
  }

  